/* 

Uzungol Beyza Motel - CSS File

CHANGE COLOR STYLE

*/

body {color:#7d7d7d;}
#outermainmenu{ background:url(../images/bg_menu.gif);}
#outerlogo{ background:url(../images/bg_logo.png); border-bottom:1px solid #ecebe6;}
#outerslider, #outertitle{ 
	background:url(../images/bg_title.jpg);
    border-bottom:15px solid #fff;
    box-shadow: 0 15px 0 0 rgba(255, 255, 255, 0.4) inset;
}
#outermain{ background:url(../images/bg_body.jpg)}
#outeraftercontent{ background:#f8f8f8; border-top:1px solid #fff}
#footersection{ background:url(../images/bg_footer.gif)}


/*======================================= GENERAL =======================================*/
/* Link color */
a, a:visited{color:#f48147}
a:hover{color:#7d7d7d}

.required{ color:#f00;}

/* Heading & text */
h1, h2, h3, h4, h5, h6{color:#332530;}
.pagetitle{color:#332530; }
.pagedesc{color:#767676;}



/*======================================= HEADER SECTION =======================================*/

#logo h1 a, #logo h1 a:visited{color:#fff;}
#logo .desc{color:#fff;}

.sf-menu a, .sf-menu a:visited{ color:#fbfbfb; }/* 1st level */

#topnav li a:hover,
#topnav li.current > a {color:#ababab;}/* 1st level */

.sf-menu > li {
    background-image: url("../images/menu-border.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.sf-menu > li:first-child{ background:none;}

/* dropdown */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	background: rgb(42, 31, 39); /* For IE8 */
	background: rgba(42, 31, 39, .8);
	color:#e9e9e9;
}
.sf-menu li li{
	 border-bottom:1px dashed #81797d;
}
.sf-menu li li:last-child{ border-bottom:0px;}



/*======================================= SLIDER SECTION=======================================*/
.flex-caption h1, .flex-caption a{color:#332530}
.flex-control-nav a {
	background: #767676; 
}
.flex-control-nav li a:hover, .flex-control-nav li a.active{
	background: #8d8c8c; 
}


/*============================================== CONTENT SECTION ==============================================*/

.highlight-container{background:url(../images/line.png) repeat-x left top}
.highlight-content{background:url(../images/line.png) repeat-x left bottom}
.highlight-content h1{color:#333333;}

.frame{ border:10px solid #fff;  display:block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/* Form */
input[type="text"],
textarea, input[type="password"], select{
	border:solid 1px #dfdfdf;
	color:#888;
	background:#efefef;
}

/* Horizontal Line */
hr {
	color:#e5e5e5;
	background-color:#e5e5e5;
}

.separator{ border-bottom:1px solid #e5e5e5;}
.separator div{background:url(../images/icon-separator.png) no-repeat center; width:44px; height:9px;}


/* Button */
.button, .button:visited, input[type="submit"], .more-link, .more-link:visited{
    background-color: #F48147;
    border: 1px solid #F89B6C;
    box-shadow: 0 0 0 3px #F48147;
    color: #FFFFFF;
}
.button:hover, input[type="submit"]:hover, .more-link:hover{
    background-color: #382934;
    border: 1px solid #675262;
    box-shadow: 0 0 0 3px #382934;
    color: #FFFFFF;
}


/* Dropcaps */	
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#444}
.dropcap2{color:#444; background:#fff; border:1px solid #f8f8f8;}		
.dropcap3{color:#444; background:#fff; border:1px solid #f8f8f8;}	

/* Highlight */
.highlight1{color:#fff; background:#444}	
.highlight2{background:#efefef;  border:solid 1px #f7f7f7}
.highlight3{border-bottom:dotted 1px #000}

/* Code */
code {
	border-left:4px solid #e9e9e9;
}
		
/* Tabs */
ul.tabs li {
	background: #f8f8f8;
	color:#444;
	border:1px solid #eee;
	border-width:1px 1px 1px 0px;
}

ul.tabs li:first-child{ border-left:1px solid #eee} 
ul.tabs li a {color:#444;}
ul.tabs li.active{
	background: #fff; 
	color:#444;
	border-bottom:1px solid #fff;
}
html ul.tabs li.active a{ color:#444; }
.tab-body{ border:1px solid #ededed; background:#fff;}


/* jQuery Toggles */
h2.trigger{color:#444;  background:#fff;}
h2.trigger span {color:#444; background:#f8f8f8;}
h2.active{ color:#444;}
h2.active span{color:#666}
h2.trigger span:hover {color:#666} 
.toggle_container{ background:#fff;}


/* Tables */
th{
	background: #f9f9f9; /* for non-css3 browsers */
	color:#444;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
thead th{border-right: 1px solid #eee;}
table {border: 1px solid #eee;border-bottom:0; border-right:0px;}
tr td {border-bottom: 1px solid #eee; border-right: 1px solid #eee; background:#fff}
tr.odd td {background: #fff;}




/*============================================== BLOG SECTION ==============================================*/
.post{ }
.posttitle a, .posttitle a:visited{color:#332530;}
.posttitle a:hover{color:#f48147}

.postimg img{ border:10px solid #fff; display:block;}

.fn a, .fn a:visited, .reply a, .reply a:visited{color:#332530; }
.comment-body{border-bottom:dotted 1px #d2d2d2}
.fn{color:#332530;}
.fn a:hover, .reply a:hover{ color:#f48147}

.entry-utility{ color:#d7d7d7}
.entry-utility .date, .entry-utility .owner, .entry-utility .comment{ color:#7d7d7d}
.entry-utility .date{ background:url(../images/icon-date.png) no-repeat;}
.entry-utility .owner{}
.entry-utility .comment{ background:url(../images/icon-comment.png) no-repeat}

.sidebar .widget-title{background:url(../images/bg-widget-title.gif); border-left:6px solid #f48147; color:#fff;}

.wp-pagenavi, .wp-pagenavi .current, .wp-pagenavi a:hover{ color:#332530}



/*============================================== PORTFOLIO SECTION ==============================================*/
#filter li{
	border-right:solid 1px #fff; 
	border-bottom:solid 1px #d2d2d2;
	background: #ececec; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#ececec'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#ececec)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fbfbfb,  #ececec); /* for firefox 3.6+ */
}
#filter li.current{
	background: #f6f6f6; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f6f6f6'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f6f6f6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fbfbfb,  #f6f6f6); /* for firefox 3.6+ */
}
#filter li a, #filter li a:visited{color:#777}
#filter li a:hover, #filter li.selected-1 a{color:#777;}



/*============================================== SIDEBAR SECTION ==============================================*/
.sidebar li li a{color:#332530}
.sidebar li li a:hover, .sidebar li li a.current{color:#f48147;}

/* Tag */
.tagcloud a{background:#272727;}
.tagcloud a:hover{background:#3c3c3c;}

.sidebar .tagcloud a{background:#f1f1f1; color:#888}
.sidebar .tagcloud a:hover{background:#3c3c3c;}

/* Searchform */
#searchform{border-top:solid 1px #dadada}
#searchform .searcharea{background:#e1e1e1; border:solid 1px #cfcfcf;}
input.searchbutton{background:url(../images/search-icon.png) no-repeat !important; border:0px; box-shadow:none; }
input.searchbutton:hover{border:0px; box-shadow:none}


/* Social */
.sn .twitter{background:url(../images/social/twitter.png)}
.sn .facebook{background:url(../images/social/facebook.png)}
.sn .google{background:url(../images/social/google.png)}
.sn .linkedin{background:url(../images/social/linkedin.png)}
.sn .pinterest{background:url(../images/social/pinterest.png)}
.sn .picasa{background:url(../images/social/picasa.png)}

/*============================================== FOOTER SIDEBAR SECTION ==============================================*/
#footersidebar{ color:#dedede}
#footersidebar .widget-title{color:#f8f8f8; border-bottom:solid 1px #6a5d68}
#footersidebar li a, #footersidebar li a:visited{color:#dedede}
#footersidebar li a:hover, #footersidebar li a.colortext:hover{color:#f48147}

#footersidebar .ts-recent-post-widget li{color:#ddd}
#footersidebar .ts-recent-post-widget li .smalldate{color:#999;}
#footersidebar .ts-recent-post-widget li img{ border:7px solid #fff;}

.testimonials .user{ color:#f48147}


/*============================================== FOOTER SECTION ==============================================*/
#outercopyright{ background:url(../images/footer-opacity.png);}
#copyright{color:#968e93; }
#copyright a, #copyright a:visited{color:#f48147;}
#copyright a:hover{color:#d6703d}

